<div class="card">
  <span class="heading text-center">Set the list of people</span>
  <%= form_with class: "contents", method: "put" do |f| %>
    <%= f.text_area :people, class: "text-box text-area" %>
    <%= f.submit "Set", class: "btn" %>
  <% end %>
</div>
